@import 'reset.css';
nav{
    padding-top: 15px;
    background-color: lightgray;
    width: 100%;
    border-bottom: solid;
     background-image: url("../img/nav.png");
}
nav ul{
    width: 100%;
}
nav li{
    padding: 20px;
    display: inline-block;
    width: 23.3%;
    font-size: 15px;
}
.menu{
    width: 40%;
    margin:20px auto;
}
.menu li{
    padding: 30px;
    background-color: rgba(255,255, 255, 0.8);
}
.blocked{
    color: black;
}

/*---------------START-------------------*/
.casillero{
    margin-top: 13px;
}
.casillero div{
    display: inline-block;
    width:150px;
    padding: 30px 0px;
    margin:3px;
    
    background-color: white;
}
.casillero .cselected{
    color: rebeccapurple;
    border-style: inset;
}
.agregar{
    display: block;
    position: fixed;
    top:0;
    width: 100%;
    height: 100vh;
    color:black;
    background-color: rgba(0,139, 139, 0.8);
    visibility: hidden;
    padding-top: 30px;
}
.agregar input{
    display: block;
    width: 80%;
    margin: 15px auto;
    height: 50px;
    font-size: 25px;
    border-radius: 15px;
}
.agregar button{
    width: 60px;
    height: 60px;
    border:5px solid;
    border-radius: 50px;
    background-color: white;
    font-size: 25px;
    
}
.agregar h1{
    font-size: 40px;
}
.eliminar div{
    background-color: indianred;
    color:white;
}
