@import 'reset.css';
nav{
    padding-top: 15px;
    background-color: lightgray;
    width: 100%;
    border-bottom: solid;
     background-image: url("../img/nav.png");
}
nav ul{
    width: 100%;
}
nav li{
    padding: 20px;
    display: inline-block;
    width: 23.3%;
    font-size: 15px;
}
nav li:first-child{
    padding-left: 5px; 
}
nav li:last-child{
    padding-right: 0px;
}
.menu{
    width: 40%;
    margin:20px auto;
}
.menu li{
    padding: 30px;
    background-color: rgba(255,255, 255, 0.8);
}
.blocked{
    color: black;
}

/*---------------START-------------------*/
.casillero{
    margin-top: 13px;
}
.categoria{
    color:green;
    
}
.categoria div{
    border: 2px dotted black;
}
.casillero div{
    display: inline-block;
    width:150px;
    padding: 30px 0px;
    margin:3px;
    background-color: white;
    overflow: scroll;
    height: 100px;
    border: 3px; 
}
.casillero div::-webkit-scrollbar{
    display: none;
}
.casillero .reduccion{
    padding: 10;
}
.casillero .reduccion h1{
    font-size: 15px;
}
.casillero .cselected{
    color: rebeccapurple;
}
.agregar{
    display: block;
    position: fixed;
    top:0;
    width: 100%;
    height: 100vh;
    color: brown;
    background-color: rgba(0,139, 139, 0.8);
    visibility: hidden;
    padding-top: 30px;
}
.agregar input{
    display: block;
    width: 80%;
    margin: 15px auto;
    height: 50px;
    font-size: 25px;
    border-radius: 15px;
}
.agregar input[type="checkbox"]{
    display: inline-block;
    width:60px;
    margin:0;
    height: initial;
    
}
.agregar button{
    width: 60px;
    height: 60px;
    border:5px solid;
    border-radius: 50px;
    background-color: white;
    font-size: 25px;
    margin-top: 10px;
}
.agregar h1{
    font-size: 40px;
}
.eliminar div{
    background-color: indianred;
    color:white;
}
footer{
    display: block;
    width: 100%;
}
footer button{
    height: 40px;
    width: 100%;
    background-image: url("../img/nav.png");
    display: block;
    font-size: 20px;
    color: darkcyan;
}


.casillero .selected{
    background: yellow;
    border:3px solid black;
}